
.header{
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 75px;
    background-color: black;
}
.left-section{
    flex: 1;
    text-align: left;
    justify-content: left;
    display: flex;
    border: none;
}
.right-section{
    flex: 1;
    justify-content: right;
    border: none;
    display: flex;
}
.name{
    font-size: 20px;
    line-height: 0;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 7px;
    color: white;
}
.page{
    line-height: 0;
    font-size: 15px;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.link{
    text-decoration: none;
}
.logo{
    width: 44px;
    height: 44px;
    border-radius: 22px;
    margin-top: 15px;
    margin-left: 20px;
}

.categories{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-right: 20px;
    padding-top: 6px;
}
a{
    text-decoration: none;
}
.categories:hover{
    color: darkgrey;
}



/* Mobile Styles */
@media only screen and (max-width: 400px) {
    .name, .page{
        font-size: 8px;
    }
    .name{
        padding-top: 8px;
    }

    .logo{
        width: 16px;
        height: 16px;
        border-radius: 8px;
        margin-top: 12px;
        margin-left: 8px;
    }
   
    .header{
        height: 40px;
    }
    .categories{
        font-size: 8px;
    }
  }




  
  
  /* Tablet Styles */
  @media only screen and (min-width: 401px) and (max-width: 960px) {
    .name, .page{
        font-size: 10px;
    }
    .name{
        padding-top: 5px;
    }

    .logo{
        width: 20px;
        height: 20px;
        border-radius: 10px;
        margin-top: 10px;
        margin-left: 8px;
    }
   
    .header{
        height: 40px;
    }
    .categories{
        font-size: 10px;
    }
  }
  
  /* Desktop Styles */
  @media only screen and (min-width: 960px) {
    body {
      background-color: white; /* Blue */
    }
  }



